<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>

<main>
  <!-- <h1></h1> -->
  <div id="ticket-details">
  <section id="ticket-deets">
    <div id="one">Airline 
    <div><%= flight.airline %></div>
  </div>
    <div>Airport </div>
    <div><%= flight.airport %></div>
    <div>Flight No. </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Time </div>
    <div><%= flight.departs %></div>
    
  </section>

  <div>Meal:</div>
  <ul id="meal-list">
    <% flight.meals.forEach(meal => { %>
      <li><%= meal.name %></li>
    <% }) %>
  </ul>
</div>
<div id="meal">
<form id="add-per-to-cast" action="/flights/<%= flight._id %>/meals" method="POST">
  <select name="mealId">
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
    <% }) %>
  </select>
  <button type="submit">Add to Meals</button>
</form>
</div>



<div id="tickets">
  <h2>tickets</h2>
  <form 
    id="add-review-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-info">Seat:</label>
    <input type="text" name="seat" id="seat-info" required></input>
    <label for="price-info">Price:</label>
    <input type="text" name="price" id="price-info" required></input>
    <button id="submit" type="submit">Add Ticket</button>
  </form>
</div>

  <% if(flight.tickets.length) { %>
    <%= console.log("tickets") %> 
    <table>
      <thead>
        <tr>
          <th>Seat No.</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
    <%= console.log("no ticket") %> 
  <% } %>




<%- include('../partials/footer') %>